@font-face {
    font-family: Pacifico-Regular;
    src: url(/fonts/Pacifico-Regular.ttf) format("truetype");
}

.navbar-header {
    font-family: Pacifico-Regular;
    font-size: 1.65rem;
    padding-top: .189rem;
}

